body{
    background-color: whitesmoke;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 1rem;
   

}
.container{
    background-color: white;
    box-shadow: 3px 3px 10px 0px rgb(168, 155, 139);
    overflow: hidden;
    max-width:fit-content;
    border-radius: 0.5rem;
    
}
.name{
    padding: 10px;
}
.chart{
    padding: 10px;

}
.quotes{
    padding: 10px;
}